@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #FFFFFF;
    --cor-detalhes: #df9800;
    --cor-fundo: #F4E5C3
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 0px 8px #0000005c;
}

#nav-left {
    padding-left: 35px;
    font-family: "Poppins", sans-serif;
    color: #000000;
}


.nav-right {
    display: flex;
    gap: 25px;
    padding-right: 35px;
    list-style: none;
}

.nav-right a {
    text-decoration: none;
    color: black;
    transition: color 0.34s;
}

.nav-right a:hover {
    color: var(--cor-detalhes)
}

header {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

#element-left {
    padding-top: 100px;
    padding-left: 35px;
    font-size: 1.9em;
}

#element-left h1 {
    font-family: "Dancing Script", sans-serif;
    font-size: 2em;
    flex: 1;

}

#element-left p {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7em;
}

#element-rigth img {
    margin: 0;
}

#about {
    background-color: rgb(252, 245, 245);
}